body{
    background: black;
}

.container{
    max-width: 980px;
    margin: 0 auto;
}
.portfolio{
    position: relative;

    display: flex;
align-items: center;
flex-direction: column;
animation-name: animateLoadPage;
animation-duration: 2s;

}
.portfolio_title{
font-size: 50px;
padding-bottom: 40px;
color: white;       
}
.portfolio-item__title{
    cursor: pointer;
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
}
.portfolio-item__link{
    display: inline-block;
 width: 500px;
height: 500px;
background:black;
color: white;
font-size: 30px;
}
.portfolio-item__overlay{
    transition: 0.9s  all ease;
position: absolute;
width: 500px;
height: 500px;   
background: black;
opacity: 0; 
}
 .portfolio-item__link:hover .portfolio-item__overlay{
    opacity: 0.9;

   
}
.movedb-img{
 background-image:url('/image/film-db-screen.png');
background-size: cover;
background-position: center;
}


.lastfm-img{
    background-image:url('/image/last-fm-screen.png');
    background-size: cover;
    background-position: center;
}


@keyframes animateLoadPage {
    from {
      left: -500px;  
      opacity: 0;
    }
  
    to {
        left: 0px;  

      opacity: 1;
    }
  }
  