html {
    scroll-behavior: smooth;
}

body {
    color: white;
    margin: 0;
}
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  .btn__blue{
    translate: all 2ms;

    border-color: #409FBF;
    color: #409FBF;
  }
  .btn__blue:hover{
    background: #409FBF;
    color: white;
  }
  .btn__gray {
    translate: all 2ms;
    border-color: #e7e7e7;
    color: black;
  }
  
  .btn__gray:hover {
    background: #e7e7e7;
  }
.flex {
    transition: 0.2s all;
    display: flex !important;
}
.flex-row{
flex-direction: row;
}
.flex-wrap{
    flex-wrap: wrap;
}
.jc-center{
    justify-content: center;
}
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-padding {
    padding: 100px 0;
}

.scills-color {
    color: #409FBF;
}

.container {
    padding: 0 20px; 
    max-width: 1200px;
    margin: 0 auto;
}

.page-nav {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.scroll-nav {
    animation-name: scrollColor;
    animation-duration: 2s;
    background: rgba(0, 0, 0, 0.8);
}

.burger-menu {
    width: 100%;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    padding: 10px;
    display: none;
    flex-direction: column;

}

.burger-menu__line {
    width: 20px;
    height: 3px;
    margin-bottom: 3px;
    background: white;

}

.page-nav__list {
    display: inline;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.page-nav__item {
    padding: 40px 30px;
    list-style-type: none;
}

.page-nav__link {

    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.page-header {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0px;
    height: 100vh;
    background-color: black;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-header__center {
    padding-top: 150px;
}

.page-header__title {
    padding-bottom: 40px;
    font-size: 30px;
    font-family: "RalewayBold", sans-serif;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.page-header__subtitle {
    font-size: 20px;
    text-align: center;
    color: #f2f2f2;
    letter-spacing: 5px;
}

.arrow-bottom {
    animation-timing-function: ease-in-out;
    animation-name: arrowDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-align: center;
    color: white;
    font-size: 60px;
}

.page-main {
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    z-index: 10;
    height: auto;
    margin-top: 100vh;
}

.about-me__title, .scills__title{
    color: rgb(51, 51, 51);
    font-size: 25px;
    margin-top: -30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.about-me__text {
    color: rgb(148, 140, 136);
    line-height: 22px;
    font-size: 16px;
    column-count: 2;
}





.scills-list   {
    color:black;
    line-height: 30px;
}
.scills-list__item{
    color: rgb(148, 140, 136);
    font-size: 18px;

    list-style: none;
}
.portfolio {
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.portfolio__title {
    font-size: 25px;
    padding-bottom: 40px;
    color:#333333;
    text-transform: uppercase;
}
.portfolio-item{
padding-right: 10px;
}
.portfolio-item__title {
    cursor: pointer;
    color: white;
    font-size: 30px;
    padding-bottom: 20px;
}

.portfolio-item__link {
    display: inline-block;
    height: 255px;
    width: 400px;
    background: black;
    color: white;
    font-size: 30px;
}

.portfolio-item__overlay {
    transition: 0.9s all ease;
    position: absolute;
    height: 255px;
    width: 400px;
    background: black;
    opacity: 0;
}
.overlay-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overlay-item__title{
padding-bottom: 10px;
}
.overlay-item__description{
   font-size: 16px; 
   color: #409FBF;
   padding-bottom: 10px;
}
.overlay-item__buttons{
    color: white;
}
.portfolio-item__link:hover .portfolio-item__overlay {
    opacity: 0.9;
}

.movedb-img {
    background-image: url("/image/film-db-screen.png");
    background-size: cover;
    background-position: center;
}

.lastfm-img {
    background-image: url("/image/last-fm-screen.png");
    background-size: cover;
    background-position: center;
}

.page-footer {
    text-align: center;
    color: rgb(51, 51, 51);
    background: black;
    padding: 20px 5px;

}


@media screen and (max-width: 700px) {
    .page-nav__list {
        display: none;
        flex-direction: column;
        align-items: center;

    }

    .page-nav__item {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .page-nav__item:first-child {
        margin-top: 27px;
    }

    .page-nav__link {
        padding: 40px 30px;
        width: 100%;
        display: block;
    }

    .page-nav__link:hover {
        background: rgba(0, 0, 0, 0.2);
    }

    .burger-menu {
        position: absolute;
        right: 0;
        display: flex;
    }
}





@keyframes animateLoadPage {
    from {
        left: -500px;
        opacity: 0;
    }

    to {
        left: 0px;

        opacity: 1;
    }
}

@keyframes arrowDown {
    100% {
        transform: translateY(-10px);
    }
}

@keyframes scrollColor {
    from {

        background:transparent;

    }

    to {
        background: rgba(0, 0, 0, 0.8);

    }
}