section.features
 .container
  .title.title--white.pg-top-100 We provide you everything
  .subtitle.subtitle--gray Maybe not everything, but we provide you some stuff.
  .features__inner
   .features__item
    .features__img
     img(src="../img/features_1.png", alt="")
    .features__title Some Analytics
    .features__text Aenean nisi lectus, convallis non lorem sit amet, rhoncus malesuada justo
   .features__item
    .features__img
     img(src="../img/features_2.png", alt="")
    .features__title  We provide you love
    .features__text Aenean nisi lectus, convallis non lorem sit amet, rhoncus malesuada justo
   .features__item
    .features__img
     img(src="../img/features_3.png", alt="")
    .features__title And Some Cloud
    .features__text Aenean nisi lectus, convallis non lorem sit amet, rhoncus malesuada justo
   button.btn.btn--white.mr-top-500 VISIT OUR BLOG 5
 .features__post  
  img(src="../img/Post5.png", alt="", srcset="") 