section.timeline
    .container  
        .timeline__inner
            .timeline-block.timeline-block__left( data-aos="fade-up"
     data-aos-anchor-placement="top-bottom")
                .timeline-block__content
                    h3 2015
                    p Lorem ipsum dolor sit amet, consectetur adipiselit. Vivamus varius nec diam vitae hendrerit bigus mit.
            .timeline-block.timeline-block__right( data-aos="fade-up"
     data-aos-anchor-placement="top-bottom")
                .timeline-block__content
                    h3 2016
                    p Lorem ipsum dolor sit amet, consectetur adipiselit. Vivamus varius nec diam vitae hendrerit bigus mit.Begitus vit urna nulla.
            .timeline-block.timeline-block__left( data-aos="fade-up"
     data-aos-anchor-placement="top-bottom")
                .timeline-block__content
                    h3 2017
                    p Sed at auctor sem, nec tincidunt elit. Pellentesque enim turpis, porttitor ac orci in, ultrices efficitur nisl. Ut odio libero, sodales a tellus eleifend, suscipit dapibus mi.
            .timeline-block.timeline-block__right( data-aos="fade-up"
     data-aos-anchor-placement="top-bottom")
                .timeline-block__content
                    h3 2018
                    p Lorem ipsum dolor sit amet, consectetur adipiselit. Vivamus varius nec diam vitae hendrerit bigus mit.
        