body {
    font-family: Verdana;
}

.battle {

}

.battle__top-bar {
    display: flex;
}

.battle__hp {
    height: 50px;
    color: #fff;
    font-style: italic;
    width: 50%;
    border: 2px solid greenyellow;
    background: transparent;
    display: flex;
    align-items: center;
    font-size: 36px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    position: relative;
}
.battle__hp .battle__hp-bar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: red;
    height: 100%;
    display: block;
    z-index: -1;
    transition: width .2s;
}
.battle__hp:nth-child(2) .battle__hp-bar{
    left: auto;
    right: 0;
}
.battle__hp:nth-child(2){
    justify-content: flex-end;
}
.battle__field {
    height: 50vh;
    padding: 20px;
}
.battle__buttons {
    padding: 0 10vw;
}
.battle__finish {
    position: absolute;
    font-size: 40px;
    text-transform: uppercase;
    left: 50%;
    color: red;
    font-weight: 700;
    top: 50%;
    transform: translate(-50%, -50%);
}

.enter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-input {

}
.hidden {
    display: none;
}
