section.contacts
 .container
  .title Contact Us
  .subtitle We know what we need to do
  .contacts__inner
   .contacts__adress
    .adress-item
     .adress-item__icon
      a(href="#")
       img(src="../img/Phone_Auricular._Attribute_as_Freepik_from_Flaticon.com.png", alt="", srcset="")
     .adress-item__text 555-222-333
    .adress-item
     .adress-item__icon
      a(href="#")
       img(src="../img/PIN_2.png", alt="")
     .adress-item__text Here is some address
    .adress-item
     .adress-item__icon
      a(href="#")
       img(src="../img/MAIL.png", alt="", srcset="")
     .adress-item__text somemail@hotmail.com
   .contacts__form
     form(action="").contact-form
      input(type='text' placeholder ='Full Name' name='name') 
      input(type='mail' placeholder ='Email' name='mail') 
      input(type='phone' placeholder ='Number' name='phone') 
      textarea(name="message", cols="30", rows="10" placeholder='Write your Message here...')
      button(type=submit).btn.btn--submit Submit
