header.header 
    .container
        .header__inner
            nav.nav__left
                a(href="#").nav__link Home
                a(href="#").nav__link About Us
                a(href="#").nav__link Team
            .logo 
                img(src="../img/Logo.jpg", alt="logo")
            nav.nav__right
                a(href="#").nav__link Services
                a(href="#").nav__link Blog
                a(href="#").nav__link Contact Us
        .burger-menu
         span.burger-menu__line        
         span.burger-menu__line        
         span.burger-menu__line        
.promo
    .container
        .promo__inner
            h1.promo__title We build it with passion
            p.promo__subtitle Just to be clear, we do this for fun not for you, just kidding.
            .btn READ MORE
.mobile-menu
  a.btn__close &times;
  .logo--mobile 
   img(src="../img/Logo.jpg", alt="logo")
  a(href='#').mobile-menu__link Home
  a(href='#').mobile-menu__link About Us
  a(href='#').mobile-menu__link Team
  a(href='#').mobile-menu__link Services
  a(href='#').mobile-menu__link Blog
  a(href='#').mobile-menu__link Contact Us
