
section.team
    .container
        .title This is our team
        .subtitle We are small but effective and ...
        .team__inner
         .team-item  
          .team-item__img
           img(src="../img/team_1.jpg", alt="", srcset="")
          .team-item__name Mark Once
          .team-item__prof Designer & Front-End Developer
          .team-item__social
           svg.social-icon
            use(xlink:href='#twitter')
           svg.social-icon
            use(xlink:href='#facebook')
         .team-item  
          .team-item__img
           img(src="../img/team_2.jpg", alt="", srcset="")
          .team-item__name Justin Twice
          .team-item__prof Founder & CEO
          .team-item__social
           svg.social-icon
            use(xlink:href='#twitter')
           svg.social-icon
            use(xlink:href='#facebook')
         .team-item  
          .team-item__img
           img(src="../img/team_3.jpg", alt="", srcset="")
          .team-item__name Antonio Never
          .team-item__prof Someone & Somewhere
          .team-item__social
           svg.social-icon
            use(xlink:href='#twitter')
           svg.social-icon
            use(xlink:href='#facebook')
           

             

                 
                     
           