.list-item{
margin: 40px 0;

    width: 50%;
    padding-bottom: 25px;
}

.list-item__title{
font-size: 25px;

}

.list-item__discription{
    font-size: 16px;
}

.discription__title{
font-size: 30px;
text-align: center;

}
.list-item__img{
    max-width: 200px;
}
.list-item__img img{
width:100%;
height: 100%;
}