<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div class="container">

   </div> 
   <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <img class='modal__img' src=''></img>

         <div class='modal-label'>Name: <span class='modal__name val'></span> </div>
         
         <div class='modal-label'>Phone: <span class='modal__phone val'></span> </div>
         
            <div class='modal-label'>Website: <span class='modal__website val'></span> </div>
         
                <div class='modal-label'>City: <span class='modal__city val'></span> </div>
         
                    <div class='modal-label'>Country: <span class='modal__country val'></span> </div>
        
                        <div class='modal-label'>Email:  <span class='modal__email val'></span> </div>

<button class='edit'>edit</button>
<button class='save'>save</button>

        </div>
      
      </div>
</body>
<script src="script.js"></script>
</html>