body {
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-indicator {
  width: 350px;
  height: 150px;
  background: #f2f2f2;
  border: 1px solid black;
  display: block;
  border-radius: 0.3rem;
  outline: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  box-sizing: border-box;
  font-size: 16px;
  color: white;
  padding: 6px 0 6px 15px;
  display: block;
  background-color: #4a4949;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  width: 320px;
  height: 90px;
  background: #ffffff;
}

.progress {
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 20px;
}

.label {
  font-weight: 600;
  color: #7c7990;
  padding-right: 20px;
}

.progress-bar {
  padding: 3px;
  background-color: lightgray;
  width: 120px;
  height: 6px;
  display: block;
}

.progress-bar__value {
  animation: targetValue 2s linear;
  background-color: #4389d1;
  transition: 0.3s all linear;
  height: 6px;
  display: block;
}

.initial {
  display: none;
  position: absolute;
  left: 71%;
  top: 51%;
  flex-direction: column;
  align-items: center;
}

.initial__triangle {
  margin: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #7c7990;
}

.initial__value {
  font-weight: 600;
  color: #7c7990;
  font-size: 14px;
  padding-top: 4px;
}

.target {
  color: white;
  text-align: center;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5),
    0 0 1px 1px rgba(0, 1, 6, 0.2);
  width: 50px;
  height: 40px;
}

.target__title {
  font-size: 15px;
  border-bottom: 1px solid grey;
}

.target__reach {
  font-size: 21px;
}

.reach {
  align-items: baseline;
  display: flex;
  color: #a2a1a5;
  font-size: 14px;
}

.reach__icon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #5384a0;
  justify-content: center;
}

.reach__icon i {
  font-weight: 700;
  font-size: 20px;
  color: white;
}

@keyframes targetValue {
0%{
  width: 0%;
}
100%{
  width: 93%;
}

}